<h1 class="blog-name pt-lg-4 mb-0 hide"><a href="index.html">BlogName</a></h1>

<nav id="blog-nav" class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
            aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
    </button>
    <div id="navigation" class="collapse navbar-collapse flex-column">

        <div class="profile-section pt-3 pt-lg-0">
            <img class="profile-image mb-3 rounded-circle mx-auto hide" src="assets/images/touxiang.jpg"
                 width="160px"
                 height="160px">

            <div class="blog-description mb-3 hide">blog_description</div>
            <!--//sns-->
            <!--          <ul class="social-list list-inline py-3 mx-auto">-->


            <!--          </ul>-->
            <!--//social-list-->
            <hr>
        </div>
        <!--//profile-section-->
        <ul class="blog-nav navbar-nav flex-column text-left">
        </ul>
        <br/>
        <form class="sform hide">
            <div class="form-row">
                <div class="form-group col-md-8">
                    <input type="text" class="form-control" id="skey" placeholder="输入关键字">
                </div>
<!--                这里是为了防止回车后自动刷新页面导致回车搜索界面显示不出来，
因为当form表单中只有一个input标签时按回车键将会自动将表单提交。-->
                <input type="text" id="" name="" style="display: none;"/>

                <div class="form-group col-md-3">
                    <button type="button" class="search btn btn-primary" data-toggle="modal"
                            data-target=".bd-example-modal-lg" style="font-size: 16px">搜索
                    </button>
                </div>
            </div>
        </form>

    </div>

</nav>

<!--live2d-->
<div class="waifu">
    <div class="waifu-tips"></div>
    <canvas id="live2d" width="320" height="230" class="live2d"></canvas>
    <div class="waifu-tool">
        <span class="fui-home"></span>
        <span class="fui-chat"></span>
        <!--            <span class="fui-eye"></span>-->
        <span class="fui-user"></span>
        <span class="fui-photo"></span>
        <!--            <span class="fui-info-circle"></span>-->
        <!--            <span class="fui-cross"></span>-->
    </div>
</div>
<script src="assets/live2d/live2d.js"></script>
<script src="assets/live2d/waifu-tips.js"></script>
<script type="text/javascript">initModel("assets/live2d/")</script>